# Exclude everything
*
dist/me.png

# Allowed
!.gitignore
!src/
!dist/
!src/**/*
!dist/**/*
!package.json
!package-lock.json
!server.js
!tailwind.config.js
!webpack.config.js
!Dockerfile
!postcss.config.js